node_modules/
hidden/
src/
dist/storage
dist/**/*.map

# Docker
.dockerignore
Dockerfile

# Sublime Text
*.sublime-*

# VS Code
*.code-*
.vscode/

# IntelliJ
*.iml
.idea/
/users/

# NPM Packages
*.tgz

# Other
*.http
