
		</main>

		<footer class="pure-u-1-1">
			<p class="text-muted">© 2018 m1cr0man. Powered by <a href="https://nestjs.com" target="_blank">NestJS</a> and <a href="http://purecss.io" target="_blank">PureCSS</a></p>
		</footer>
	</body>
</html>
